<div class="charts-page">

    <div class="container">

        <div class="row mb-3">
            <div class="col align-self-center">
                <app-pressure-chart></app-pressure-chart>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col align-self-center">
                <app-pulse-chart></app-pulse-chart>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4 align-self-center">
                <h6>SYS</h6>
                <app-sys-stats-chart></app-sys-stats-chart>
            </div>
            <div class="col-4 align-self-center">
                <h6>DIA</h6>
                <app-dia-stats-chart></app-dia-stats-chart>
            </div>
            <div class="col-4 align-self-center">
                <h6>Pulse</h6>
                <app-pulse-stats-chart></app-pulse-stats-chart>
            </div>
        </div>

    </div>

</div>
