<!-- Responsive navbar-->
<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/"><fa-icon [icon]="faHeartCircleCheck" class="label"></fa-icon>{{ title }}</a>
    <a class="nav-link" routerLink="/login" *ngIf="!loggedIn"><fa-icon [icon]="faRightToBracket" class="label"></fa-icon></a>
    <a class="nav-link ms-auto mx-2" routerLink="/admin" *ngIf="loggedIn"><fa-icon [icon]="faScrewdriverWrench" class="label"></fa-icon></a>
    <a class="nav-link" routerLink="/logout" *ngIf="loggedIn"><fa-icon [icon]="faRightFromBracket" class="label"></fa-icon></a>
  </div>
</nav>
<!-- Page content-->
<div class="main container">
  <div class="text-center mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Page footer-->
<div class="footer">
  &copy; 2025 {{ title }} by <a href="https://github.com/PrivateAccount/PressureAdmin" target="_blank">Andreas</a>
</div>
