h5.card-title {
    margin: 0.25em;
}

fa-icon.label {
    margin-right: 1em;
    color: #666;
}

fa-icon.label:hover {
    color: #c00;
}

a.navbar-brand {
    color: #666;
}

a.navbar-brand:hover {
    color: #c00;
}
